# Project Secrets
*.env

# IDE files
**/.idea/
**/.vscode/

# OS files
**/.DS_Store
**/Thumbs.db

# Build files
**/build/
**/target/
**/out/
**/dist/
**/bin/

# Logs
*.log*

# Gradle files
**/gradle/wrapper/gradle-wrapper.jar
**/.gradle/
/gradlew
/gradlew.bat

# Node
**/node_modules/

# LaTeX build artifacts
*.aux
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
latex/**/*.pdf

# Database files
database/dumps/

# Test example data
server/test_requests/payloads/


# Python files
**/venv/
**/.venv/
*.pyc
**/__pycache__/
*.pyo
*.pyd


# OSRM preprocessed data
*.osrm.*
*.osrm


# Frontend
*.asar
node_modules/
**/node_modules/
