services:
  hose-webpage:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - hose-api

  hose-api:
    build:
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./server/hose:/app
      - ~/.gradle:/home/gradle/.gradle

  postgres:
    ports:
      - "5432:5432"
