services:
  db:
    image: postgres:18
    container_name: hose-replica-db
    restart: unless-stopped
    env_file:
      - .env
    volumes:
     - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 30

volumes:
  postgres_data:
    name: replica_db_data