.apt-card-overlay {
  position: fixed;
  inset: 0;
  background:rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}

/* Main card container */
.HOSE-card {
  background: #25344f;
  border-radius: 12px;
  max-width: 720px;
  width: 95%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #D5BB93;
  max-height: 90vh; 
  overflow-y: auto;
}

/* Image side */
.apt-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Panel */
.apt-panel {
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
}

/* Header */
.apt-panel-header h2 {
  margin: 0;
  font-size: 1.3rem;
}
.apt-panel-header span {
  font-size: 0.9rem;
}

/* Box sections */
.apt-panel-box {
  background: #632024;
  padding: 13px 13px;
  border-radius: 8px;
  text-align: center;
}
.apt-panel-box p {
  margin: 4px 0;
  text-align: left;
}
/* Indented lines */
.sub-info {
  padding-left: 20px;
}
.top-right-checkbox {
  position: absolute;
  top: 10px;
  right: 10px;

  background: rgba(0, 0, 0, 0.4);
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
  color: #D5BB93;
}

.top-right-checkbox input {
  margin-right: 6px;
  transform: scale(1.2);
}

